inner.rs

/.env
/.idea
/http-cacache
/prpr/build.rs
/target
/wbindgen
/dist
/conf.yml
/cache
/data
/.cargo
/config.txt
/assets/res
/test.uml
/monitor-config.yml

/prpr-avc/static-lib

# Mac

._*
/run_ios.sh
/prebuild_ios.sh
/build_ios.sh
/build
/*.ipa
/phire.app
/Assets.xcassets
/LaunchScreen.storyboard
/phire.xcodeproj
/dist
/project.yml
/prpr.scent
/.cargo

# Test

/log*
/.vscode
